body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right top, #834267, #794771, #6e4b78, #61507d, #54547f, #455780, #37597e, #2a5b7a, #1a5c73, #125c6a, #165b60, #205a56);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 40%;
    min-width: 600px;
    position: relative;
    /* top: 20px; */
    /* padding: 20px; */
    margin: 15px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* border-radius: 15%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container div {
    padding: 20px;
}

#search-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

#search-query {
    width: calc(100% - 22px);
    padding: 10px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: large;
}

#search-button {
    width: 100px;
    height: 45px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#search-button:hover {
    background-color: #0056b3;
}

#sort-container {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

#sort-options {
    width: 100%;
    height: 45px;
    /* padding: 10px; */
    /* margin-bottom: 20px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: medium;
}

#product-list {
    width: 70%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
    max-height: 400px;
}

.product-image {
    width: 30%;
    margin-right: 20px;
    border-radius: 4px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 4px;
}

.product-details {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-details img.site-logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 40px;
    border-radius: 4px;
}

.loading {
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
    position: absolute;
    top: 45%;
}

@media (max-width: 600px) {
    .product {
        flex-direction: column;
        align-items: flex-start;
    }

    .product img {
        margin-bottom: 10px;
        max-width: 100%;
    }

    .product-details img.site-logo {
        position: static;
        margin-top: 10px;
    }
}